
$labrys-purple: #7452a2;

body {
	background-color: #fff !important;

	::-moz-selection {
	    color: #fff;
	    background: $labrys-purple;
	}

	::selection {
	    color: #fff; 
	    background: $labrys-purple;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: Roboto Condensed;
		font-weight: 700;
		font-size: 25px;
		line-height: 25px;
	}
	p, span {
		font-family: Roboto Condensed;
		font-size: 16px;
	}
	a {
		font-family: Roboto Condensed;
		&:hover {
			color: $labrys-purple;
		}
	}

	.support-div {
		width: 0%;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	#page {
		.site-inner {
			nav {
				&#site-navigation {
					.main-navigation-inner {
						#labrys-menu-logo {
							display: inline-block;
							vertical-align: middle;

							svg {
								height: 85px;
							}
						}
						.menu {
							display: inline-block;
							vertical-align: middle;

							li {
								a {
									font-size: 24px;
								}
							}
						}
						#nav-search-form {
							text-align: right;
							height: 91px;

							#search-toggle {
								position: absolute;
    							top: 25%;
    							font-size: 25px;
							}
						}
					}
				}
				&#editais-navigation {
					top: 91px;
					background-color: $labrys-purple;

					.menu {
						padding: 0 30px;

						li {
							a {
								font-size: 20px;
								line-height: 50px;
							}
						}
					}
				}
				.menu {
					li {
						&.current-menu-item {

						}
						a {
							text-transform: lowercase;
							font-family: 'Offside';
						}
					}
				}
			}
			#site-banner {
				.site-banner-inner {
					.site-banner-content {
						height: 688px;

						.site-banner-media {
							height: 800px;

							.site-banner-thumbnail {
								height: 800px;
								background-repeat: no-repeat;
								background-size: cover;
								background-attachment: fixed;
							}
						}
						.site-banner-header {
						    width: 420px;
						    margin: 0 auto;
						    position: relative;
						    top: 260px;
						}
					}
				}
			}
		}
	}

	.site-footer {
	    background-color: #DCE0DF;
	    
	    .footer-area-site {
	    	padding-top: 30px;
	    	padding-bottom: 20px;
			background-color: #DCE0DF;
	    }
		.site-footer-area {
    		.svg-container {
    			display: inline-block;
    			width: 30%;
    			vertical-align: top;

    			svg {
    				width: 80px;
    			}
    		}
    		.text-container {
    			display: inline-block;
    			width: 68%;
    			vertical-align: top;
    		}
		}
	}
}

#copyright-container {
	background-color: #000;
	color: #fff;
	padding: 5px 0;

	p {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	    font-size: 12px;
	}
	.cr-box {
		text-align: left;
		height: 45px;
	}
}
.about-text {
	text-align: left;

	p {
		margin-bottom: 0;
	}
}
.dev-container {
	height: 45px;
	vertical-align: middle;
	text-align: right;

	p {
		display: inline-block;
	}
}
.dev-box {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #fff;
	padding: 3px 8px;
	margin-left: 4px;

	a {
		color: #fff;

		.fa-github {
			-webkit-transition: -webkit-transform 0.8s ease-in-out;
			-ms-transition: -ms-transform 0.8s ease-in-out;
			transition: transform 0.8s ease-in-out;
			font-size: 24px;
		}
		span {
			display: inline-block;
		}
	}
	&:hover {
		a {
			color: $labrys-purple;
			text-decoration: none;
		}
		.fa-github {
			transform: rotate(360deg);
			-ms-transform:rotate(360deg);
			-webkit-transform:rotate(360deg);
		}
	}
}