// @import "compass/css3";

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$laptop-width: 1366px;
$labrys-purple: #7452a2;

@mixin phone {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


%bfaf {
	content: "";
	position: absolute;
	display: block;
}
* { box-sizing: border-box; }
html, body {
	position: relative;
	margin: 0; 
	padding: 0;
}
body {
	background-color: #fff !important;

	::-moz-selection {
	    color: #fff;
	    background: $labrys-purple;
	}

	::selection {
	    color: #fff; 
	    background: $labrys-purple;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: Roboto Condensed;
		font-weight: 700;
		font-size: 25px;
		line-height: 25px;
	}
	p, span {
		font-family: Roboto Condensed;
		font-size: 16px;
	}
	a {
		font-family: Roboto Condensed;
		&:hover {
			color: $labrys-purple;
		}
	}

	.support-div {
		width: 0%;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	#page {
		.site-inner {
			.site-header {

				nav {
					&#site-navigation {
						padding-top: 10px;
						padding-bottom: 10px;
						height: 75px;

						.main-navigation-inner {
							#labrys-menu-logo {
								display: inline-block;
								vertical-align: middle;

								svg {
									// height: 85px;
									height: 55px;
								}

								@include phone {
									padding-left: 0;
								}
							}
							.menu {
								display: inline-block;
								vertical-align: middle;

								li {
									// margin: 0 10em 0 0;

									a {
										font-size: 20px;

										@include phone {
											font-size: 15px;
											padding: 0 5px;
										}
									}

									@include phone {
										margin: 0 2em 0 0;
									}
								}

								@include phone {
									padding: 0;
								}
							}
							#nav-search-form {
								text-align: right;
								height: 65px;
								padding-right: 25px;

								#search-toggle {
									position: absolute;
	    							top: 25%;
	    							font-size: 25px;
								}

								@include phone {
									display: none;
								}
							}
							#menu-search-form {
								position: relative;
								top: 25%;
								height: 50px;
							}

							@include phone {
								display: block;
								padding-top: 12px;
								padding-bottom: 12px;
							}
						}
						@include phone {
							padding: 0;
							position: fixed;
							margin-top: -75px;
							top: 100%;
						}
					}
					&#editais-navigation {
						top: 75px;
						background-color: $labrys-purple;
						// display: none;
						visibility: hidden;
						opacity: 0;
						transition: all ease 0.4s;

						&.open, &:hover, &:focus {
							// display: block;
							visibility: visible;
							opacity: 1;
						}
						.container {
							.menu {
								// padding: 0 30px;

								li {
									a {
										font-size: 20px;
										line-height: 50px;
									}

									@include phone {
										display: block;
									}
								}
							}

							@include phone {
								background-color: #7452a2;
							}
						}

						@include phone {
						    position: fixed;
						    top: 0;
						    width: 100%;
						    height: 100%;
						    background-color: rgba(0, 0, 0, 0.4);
						}
					}
					.menu {
						li {
							line-height: 3;

							&.current-menu-item {
								&:after {
									@extend %bfaf;
								}
							}
							a {
								text-transform: uppercase;
								font-family: 'Open Sans Condensed';
								font-weight: 700;
							}
							@include phone {
								display: inline-block;
								border: none;
							}
						}
					}
				}
				#site-banner {
					.site-banner-inner {
						.site-banner-content {
							max-height: 680px;
							height: 100vh;

							.site-banner-media {
								max-height: 800px;
								height: 100vh;

									max-height: 800px;
								.site-banner-thumbnail {
									height: 100vh;
									background-repeat: no-repeat;
									background-size: cover;
									background-attachment: fixed;
									background-position: 50%;

									@include phone {
										height: 330px;
										background-attachment: inherit;
									}
								}

								@include phone {
									height: 330px;
								}
							}
							.site-banner-header {
							    width: 420px;
							    margin: 0 auto;
							    position: relative;
							    // top: 260px;
							    top: 38vh;

							    @include phone {
							    	width: 155px;
							    	top: 190px;
							    }
							}

							@include phone {
								height: 320px;
							}
						}
					}

					@include phone {
						margin-top: 0;
					}
				}

				@include phone {
					padding-right: 0;
					padding-left: 0;
				}
			}
			#content {
				padding: 30px 15px;

				#main {
					article {
						box-shadow: none;
						-webkit-box-shadow: none;

						.entry-media {
							position: relative;

							.post-thumbnail {
							    height: 270px;
							    background-repeat: no-repeat;
							    background-size: cover;
							    background-position: 50%;
							}
						}
						.entry-category {
							background-color: $labrys-purple;
							width: 80%;
							height: 35px;
							margin: 0 auto;
							position: relative;
							top: -(35px / 2);
							padding: 5px;

							h3 {
								margin: 0;
								font-family: 'Offside';
								font-size: 20px;
								font-weight: 300;
								color: #fff;
								text-align: center;
								text-transform: lowercase;
							}
						}
						.entry-inner {
							padding: 10px 0;

							.entry-header {
								border-left: 3px solid #333;
								padding-left: 10px;

								h1 {
									margin-bottom: 15px;
								}
							}
						}
						&[data-single=true] {
							position: relative;
							top: -67px;

							.entry-media {
								.post-thumbnail {
									// height: 520px;
									height: 75vh;
									// background-attachment: fixed;
								}
								.gradient-overlay {
									background: linear-gradient(to bottom, rgba(26, 28, 30, 0) 63%, rgba(255, 255, 255, 1) 100%);
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
								}
							}
							.entry-category {
								padding: 7px 45px;
								width: auto;
								height: auto;
								display: inline-block;
								z-index: 2;
								top: -90px;
								left: 115px;

								h3 {
									font-size: 24px;
								}
							}
							.entry-inner {
								position: relative;
							    top: -110px;
							    background-color: #fff;
							    padding: 60px 5%;
							    max-width: 90%;

							    .entry-header {
									border-left: none;
									padding-left: 0;

									h1 {
									    font-size: 42px;
									    margin-bottom: 40px;
									    text-transform: none;
									}
								}
								.entry-meta {
									border: none;
								}
							}
						}
					}
				}
			}
		}

		@include phone {
			padding-right: 0;
			padding-left: 0;
		}
	}

	.site-footer {
	    background-color: #000;
	    
	    .footer-area-site {
	    	padding-top: 30px;
	    	padding-bottom: 20px;
			background-color: inherit;
	    }
		.site-footer-area {
    		.svg-container {
    			display: inline-block;
    			width: 30%;
    			vertical-align: top;
    			color: #fff;

    			svg {
    				width: 80px;
    			}
    		}
    		.text-container {
    			display: inline-block;
    			width: 68%;
    			vertical-align: top;
    			color: #fff;
    		}
		}
	}
	&.is-singular {
		.content-area {
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			-ms-box-shadow: none;
		}
	}
}

#copyright-container {
	background-color: #000;
	border-top: 2px solid #fff;
	color: #fff;
	padding: 5px 0;

	p {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	    font-size: 12px;
	}
	.cr-box {
		text-align: left;
		height: 45px;
	}
}
.about-text {
	text-align: left;

	p {
		margin-bottom: 0;
	}
}
.dev-container {
	height: 45px;
	vertical-align: middle;
	text-align: right;

	p {
		display: inline-block;
	}
}
.dev-box {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #fff;
	padding: 3px 8px;
	margin-left: 4px;

	a {
		color: #fff;

		.fa-github {
			-webkit-transition: -webkit-transform 0.8s ease-in-out;
			-moz-transition: -webkit-transform 0.8s ease-in-out;
			-ms-transition: -ms-transform 0.8s ease-in-out;
			transition: transform 0.8s ease-in-out;
			font-size: 24px;
		}
		span {
			display: inline-block;
		}
	}
	&:hover {
		a {
			color: $labrys-purple;
			text-decoration: none;
		}
		.fa-github {
			-webkit-transform:rotate(360deg);
			-moz-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform: rotate(360deg);
		}
	}
}

.search-wrap {
	// position: relative;
	position: absolute;
	right: 0;
	display: block;
	z-index: 1;
	width: 20px;
	height: 20px;
	margin-left: 0;
	padding: 0;
	border: 3px solid white;
	border-radius: 20px;
	transition: all .25s ease .3s;
	-webkit-transition: all .25s ease .3s;
	-moz-transition: all .25s ease .3s;
	-ms-transition: all .25s ease .3s;

	input[type="text"] {
		-webkit-appearance: none;
		outline: none;
		border: none;
	}
	&:before {
		@extend %bfaf;
		top: 90%; 
		left: 90%;
		width: 12px;
		height: 3px;
		background-color: white;
		border-radius: 1px;
		transition: width .15s ease .55s;
		-webkit-transition: width .15s ease .55s;
		-moz-transition: width .15s ease .55s;
		-ms-transition: width .15s ease .55s;
		transform: rotate(45deg);
		transform-origin: top left;
	}
	input {
		width: 100%;
		height: 100%;
		padding: 0 30px 0 15px;
		font-size: 14px;
		line-height: 38px;
		opacity: 0;
		background-color: transparent;
		transition: opacity .15s ease;
	}
	.eks {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 20;
		width: 30px;
		height: 30px;
		cursor: pointer;	
		transform: translateY(-50%);
		&:before, &:after {
			@extend %bfaf;
			right: 5px;
			height: 2px;
			width: 2px;
			border-radius: 1px;
			transition: all .25s ease;
		}
		&:before {
			top: 5px;
			background-color: white;
			transform: rotate(-45deg);
			transform-origin: top right;
			transition-delay: .1s;
		}
		&:after {
			bottom: 5px;
			background-color: white;
			transform: rotate(45deg);
			transform-origin: bottom right;
			transition-delay: 0s;
		}
	}
	&.open {
		width: 200px;
		height: 30px;
		transition-delay: .1s;

		&:before { // search nub
			width: 0px;
			transition-delay: 0s;
		}
		input {
			opacity: 1;
			transition-delay: .15s;
		}
		.eks {
			&:before, &:after {
				width: 15px;
				right: 12px;
			}
			&:before {
				top: 9px;
				transition-delay: .25s;
			}
			&:after {
				bottom: 9px;
				transition-delay: .3s;
			}
		}	
	}
}