// @import "compass/css3";

$labrys-purple: #7452a2;

%bfaf {
	content: "";
	position: absolute;
	display: block;
}
* { box-sizing: border-box; }
html, body {
	// @include display-flex;
	// @include flex-direction(row);
	// @include align-items(center);
	// @include justify-content(center);
	position: relative;
	margin: 0; 
	padding: 0;
	// width: 100%; 
	// height: 100%;
	// background-color: #e62878;
}
body {
	background-color: #fff !important;

	::-moz-selection {
	    color: #fff;
	    background: $labrys-purple;
	}

	::selection {
	    color: #fff; 
	    background: $labrys-purple;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: Roboto Condensed;
		font-weight: 700;
		font-size: 25px;
		line-height: 25px;
	}
	p, span {
		font-family: Roboto Condensed;
		font-size: 16px;
	}
	a {
		font-family: Roboto Condensed;
		&:hover {
			color: $labrys-purple;
		}
	}

	.support-div {
		width: 0%;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	#page {
		.site-inner {
			nav {
				&#site-navigation {
					.main-navigation-inner {
						#labrys-menu-logo {
							display: inline-block;
							vertical-align: middle;

							svg {
								// height: 85px;
								height: 60px;
							}
						}
						.menu {
							display: inline-block;
							vertical-align: middle;

							li {
								a {
									font-size: 20px;
								}
							}
						}
						#nav-search-form {
							text-align: right;
							height: 91px;
							padding-right: 25px;

							#search-toggle {
								position: absolute;
    							top: 25%;
    							font-size: 25px;
							}
						}
						#menu-search-form {
							position: relative;
							top: 25%;
							height: 50px;
						}
					}
				}
				&#editais-navigation {
					top: 91px;
					background-color: $labrys-purple;

					.menu {
						// padding: 0 30px;

						li {
							a {
								font-size: 20px;
								line-height: 50px;
							}
						}
					}
				}
				.menu {
					li {
						line-height: 3.82;

						&.current-menu-item {
							&:after {
								@extend %bfaf;
							}
						}
						a {
							text-transform: uppercase;
							font-family: 'Open Sans Condensed';
							font-weight: 700;
						}
					}
				}
			}
			#site-banner {
				.site-banner-inner {
					.site-banner-content {
						height: 688px;

						.site-banner-media {
							height: 800px;

							.site-banner-thumbnail {
								height: 800px;
								background-repeat: no-repeat;
								background-size: cover;
								background-attachment: fixed;
							}
						}
						.site-banner-header {
						    width: 420px;
						    margin: 0 auto;
						    position: relative;
						    top: 260px;
						}
					}
				}
			}
			#content {
				#main {
					#posts {
						article {
							.entry-media {
								.post-thumbnail {
								    height: 270px;
								    background-repeat: no-repeat;
								    background-size: cover;
								    background-position: 50%;
								}
							}
							.entry-category {
								background-color: $labrys-purple;
								width: 80%;
								height: 35px;
								margin: 0 auto;
								position: relative;
								top: -(35px / 2);
								padding: 5px;

								h3 {
									margin: 0;
									font-family: 'Offside';
									font-size: 20px;
									font-weight: 300;
									color: #fff;
									text-align: center;
									text-transform: lowercase;
								}
							}
							.entry-inner {
								padding: 20px 30px;
							}
						}
					}
				}
			}
		}
	}

	.site-footer {
	    background-color: #DCE0DF;
	    
	    .footer-area-site {
	    	padding-top: 30px;
	    	padding-bottom: 20px;
			background-color: #DCE0DF;
	    }
		.site-footer-area {
    		.svg-container {
    			display: inline-block;
    			width: 30%;
    			vertical-align: top;

    			svg {
    				width: 80px;
    			}
    		}
    		.text-container {
    			display: inline-block;
    			width: 68%;
    			vertical-align: top;
    		}
		}
	}
}

#copyright-container {
	background-color: #000;
	color: #fff;
	padding: 5px 0;

	p {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	    font-size: 12px;
	}
	.cr-box {
		text-align: left;
		height: 45px;
	}
}
.about-text {
	text-align: left;

	p {
		margin-bottom: 0;
	}
}
.dev-container {
	height: 45px;
	vertical-align: middle;
	text-align: right;

	p {
		display: inline-block;
	}
}
.dev-box {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #fff;
	padding: 3px 8px;
	margin-left: 4px;

	a {
		color: #fff;

		.fa-github {
			-webkit-transition: -webkit-transform 0.8s ease-in-out;
			-moz-transition: -webkit-transform 0.8s ease-in-out;
			-ms-transition: -ms-transform 0.8s ease-in-out;
			transition: transform 0.8s ease-in-out;
			font-size: 24px;
		}
		span {
			display: inline-block;
		}
	}
	&:hover {
		a {
			color: $labrys-purple;
			text-decoration: none;
		}
		.fa-github {
			-webkit-transform:rotate(360deg);
			-moz-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform: rotate(360deg);
		}
	}
}

.search-wrap {
	// position: relative;
	position: absolute;
	right: 0;
	display: block;
	z-index: 1;
	width: 20px;
	height: 20px;
	margin-left: 0;
	padding: 0;
	border: 3px solid white;
	border-radius: 20px;
	transition: all .25s ease .3s;
	-webkit-transition: all .25s ease .3s;
	-moz-transition: all .25s ease .3s;
	-ms-transition: all .25s ease .3s;

	input[type="text"] {
		-webkit-appearance: none;
		outline: none;
		border: none;
	}
	&:before {
		@extend %bfaf;
		top: 90%; 
		left: 90%;
		width: 12px;
		height: 3px;
		background-color: white;
		border-radius: 1px;
		transition: width .15s ease .55s;
		-webkit-transition: width .15s ease .55s;
		-moz-transition: width .15s ease .55s;
		-ms-transition: width .15s ease .55s;
		transform: rotate(45deg);
		transform-origin: top left;
	}
	input {
		width: 100%;
		height: 100%;
		padding: 0 30px 0 15px;
		font-size: 14px;
		line-height: 38px;
		opacity: 0;
		background-color: transparent;
		transition: opacity .15s ease;
	}
	.eks {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 20;
		width: 30px;
		height: 30px;
		cursor: pointer;	
		transform: translateY(-50%);
		&:before, &:after {
			@extend %bfaf;
			right: 5px;
			height: 2px;
			width: 2px;
			border-radius: 1px;
			transition: all .25s ease;
		}
		&:before {
			top: 5px;
			background-color: white;
			transform: rotate(-45deg);
			transform-origin: top right;
			transition-delay: .1s;
		}
		&:after {
			bottom: 5px;
			background-color: white;
			transform: rotate(45deg);
			transform-origin: bottom right;
			transition-delay: 0s;
		}
	}
	&.open {
		width: 200px;
		height: 40px;
		transition-delay: .1s;
		&:before { // search nub
			width: 0px;
			transition-delay: 0s;
		}
		input {
			opacity: 1;
			transition-delay: .15s;
		}
		.eks {
			&:before, &:after {
				width: 15px;
				right: 12px;
			}
			&:before {
				top: 9px;
				transition-delay: .25s;
			}
			&:after {
				bottom: 9px;
				transition-delay: .3s;
			}
		}	
	}
}